/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* Pozadí,písmo,nadpis */
body {
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: gray;



}
h1 {
    font-size: 28px;
     font-weight:bold;
    
     text-align: center;
     margin:0;  
     color:black;
}
hr {
    margin-top: 10px;
    width: 10%;
    height: 2px;
    border-color: #407BFF;
   
}
h2 {
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
}

.cestovatel {
    width: 350px;
    height: auto ;
    max-width: 100%;
    margin: auto;
    padding: 60px 0 39px 0;
    display: block;
    
}
.onas{
    margin: 30px 20px;

}

.kancelar,.delegati {
    text-align: center;
    color: #8B8B8B;
    margin: auto;
    line-height: 21px;
    
    
}

.tlacitka{
    display: block;
   
}

.dobrodruzstvi{
   

    margin: auto;
    height: auto;
    display: block;
height: auto;
margin-bottom: 0;
font-size: 14px;

font-family: 'Montserrat',sans-serif;
background-color: #407BFF;
padding: 11px 30px;
text-align: center;
border: none;
border-radius: 20px;
color: white;

}
.pohoda {
    margin: 11px auto;
    margin-block-end: 60px;
  height: auto;
  display: block;
     
      font-size: 14px;
      font-family: 'Montserrat',sans-serif;
      
      background-color: #8B8B8B;
      padding: 11px 30px;
      border: none;
      border-radius: 20px;
      color: white;
    }
    
    
    
        

    .mapa, .kaktus,.palma,.letadlo,.slunecnik, .karavan
{
    display:flex;
    margin: 20px ;

  
    
    }
  
    


.box1, .box2,.box3,.box4,.box5,.box6 {

    background-color: white;
    max-width: 92%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
    margin: 15px auto;
    flex: 1 1 calc(100%/3);
    text-align: center;
    display: flex;
    






}

.text1,.text2,.text3,.text4,.text5,.text6
{
display:flex;
margin: 31px auto;font-size: 13px; font-weight: lighter; text-align: center;



}
@media screen  and (min-width: 640px){
    .kancelar,.delegati {
        width: 72%;
    }

    
.tlacitka {
   
    display: grid;
    grid-template-columns: 19% 24% 29% ;
    
    gap: 0 3%;
    
   
}
/* Pozadí,písmo,nadpis */


   .dobrodruzstvi {
    margin: 0;
    grid-column:  2/3 ;
    

  
 
   }
  
   
   .pohoda {
    margin: 0;
    grid-column:3/4
    
    }
 
  
   
  


.boxy1,.boxy2{
    display: flex;
  justify-content: space-around;  

}   
.box1, .box2,.box3,.box4,.box5,.box6,.box7 {
    flex:0 0 calc((100%-18px)/3);
    min-width: 30%;
    flex-direction: column;
    
}
.mapa, .kaktus,.palma,.letadlo,.slunecnik, .karavan {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
    
   
}
.text1,.text2,.text3,.text4,.text7 {
    margin: 20px 16px;
   
}

  
}
   
   @media screen  and (min-width: 1100px){
    .kontejner{
        
        display: flex;
        flex-wrap:wrap ;
        padding:60px 80px;
    
    }
.Travels{
    margin-top:133px ;
    
    flex: 0 1 50%;
    order: 1;
    text-align: left;
}

.dobrodruzstvi {
    width:auto;
   
    

  
 
   }
  .tlacitka {
    display: flex;
  }
   
   .pohoda {
   width:auto ;
    
    }
.cestovatel {
    flex:1 1 30%;
    order: 2;
    width: 35%;
    height: auto;
    padding: 0;
    margin-top: 60px;

}
.boxy1 {
    flex:1 1 50%;
    order: 3;
    margin-top: 147px;
   
}
.kancelar {
    flex:1 1 30%;
    order: 4;
    text-align: left;
    margin-left: 40px;
    
}
.delegati { flex:1 1 30%;
    order: 5;
    text-align: left;
    margin-right: 40px;
    margin-top: 119px;
}
h2 {margin:0;}
.boxy2 {
    flex:1 1 50%;
    order: 6; 
}
.box1, .box2,.box3,.box4,.box5,.box6,.box7 {
margin-right: 20px;
   }
  }
