
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* Pozadí,písmo,nadpis */

body {
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: gray; 
}

/* Nadpisy */

h1 {
    font-size: 28px;
     font-weight:bold;
    
     text-align: center;
     margin:0;  
     color:black;
}

hr {
    margin-top: 10px;
    width: 10%;
    height: 2px;
    border-color: #407BFF;
   
}

h2 {
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
}

/* Hlavní obrázek */

.cestovatel {
    width: 350px;
    height: auto ;
    max-width: 100%;
    margin: auto;
    padding: 60px 0 39px 0;
    display: block;
    
}
.onas{
    margin: 30px 20px;
}

/* Popis služeb */

.kancelar,.delegati {
    text-align: center;
    color: #8B8B8B;
    margin: auto;
    line-height: 21px;
}

/* Tlačítka*/

.tlacitka{
    display: block;
    max-width: 84%;
    margin: auto;
}

.dobrodruzstvi{
    margin: auto;
    height: auto;
    display: block;
    height: auto;
    margin-bottom: 0;
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    background-color: #407BFF;
    padding: 11px 30px;
    text-align: center;
    border: none;
    border-radius: 20px;
    color: white;

}
.pohoda {
    margin: 11px auto;
    margin-block-end: 60px;
    height: auto;
    display: block;
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    background-color: #8B8B8B;
    padding: 11px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    }
     
 /* Ikony*/   

.ikony {
    display:flex;
    margin: 20px ;

    }
  
    
/* boxy */

.box {

    background-color: white;
    max-width: 92%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
    margin: 15px auto;
    flex: 1 1 calc(100%/3);
    text-align: center;
    display: flex;
}

/*Texty*/

.text{
    display:flex;
    margin: 31px auto;
    font-size: 13px; 
    font-weight: lighter; 
    text-align: center;
}

/* Queries tablet*/

@media screen  and (min-width: 640px){
.kancelar,.delegati {
        width: 72%;
    }
/* Sekce tlačítka */

.tlacitka {
  
   display: flex;
   justify-content: center;
   gap:20px;
   
}

 .dobrodruzstvi {
    margin: 0;
   flex: 0 1 35%;
   }
  
   
 .pohoda {
    margin: 0;
    flex: 0 1 40%;
    
    }

/* Sekce boxy*/

.boxy1,.boxy2{
     display: flex;
     gap: 20px;


}   
.box {
 
    height: auto;
    min-width: 30%;
    flex-direction: column;
}
.ikony {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
    
   
}
.text{
    margin: 20px 16px;
   
}

  
}
   /* Queries pc*/

   @media screen  and (min-width: 1100px){


    /* Kontejner*/
.kontejner{
        
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 60px auto;
    justify-content: center;
    justify-items: center;
    gap:60px;
    row-gap: 80px;
    }

    /* Sekce Travels*/

.Travels{
    max-width: 47% ;
    flex: 0 1 47%;
    order: 1;
    text-align: justify;
    height: auto;
    margin-top: 133px;
}
.onas{
    margin:30px 0;
}

/* Sekce tlačítka*/

.tlacitka {
    display: flex;
    justify-content: left;
    gap:20px;
    text-align: left;
    margin:0;
  }
.dobrodruzstvi {
    margin: 0;
    flex: 0 1 40%;
    height: auto ;
   
   }   
.pohoda {
    margin: 0;
    flex: 0 1 45%;
    height: auto;
    }

/* Hlavní obrázek*/
.sloupec {
    max-width: 47%;
    flex: 1 1 47%;
    justify-content: center;
    align-items: center;
    order: 2;
    height: auto;
}
.cestovatel {
    flex:1 1 41%;
    max-width: 425px;
    height: auto;
    order: 2;
}

/* Sekce boxy1*/

.boxy1 {
    max-width: 550px;
    flex:1 1 53%;
    order: 3;
    margin-top: 147px;
    gap:20px;
    height: auto;
    margin: 0;
   
}

/* Sekce boxy2*/

.boxy2 {
    flex:1 1 53%;
    max-width: 550px;
    order: 6; 
    margin: 0;
    height: auto;
    
}
.box {
    flex: 0 0 calc(50%/3);
     
    }
.img {
    margin: 40px auto;
    
}
.text {
    margin-bottom: 40px;
}

/* Sekce popis služeb*/

.kancelar {
    max-width: 430px;
    flex:1 1 41%;
    order: 4;
    text-align: justify;
    height: auto;
    margin:0;
  
    
}
.delegati { 
    max-width: 430px;
    flex:1 1 41%;
    order: 5;
    text-align: justify;
    height: auto;
    margin:0;
   
}

/* Nadpisy*/
h1,hr {
    text-align: left;
    margin: 10px 0 0 0;
}
h2 {
    margin:0;
    text-align: left;
}

   }
   
  
